<div class="transactions-header">
  <span>Transactions</span>
  <p-button label="New"
            icon="pi pi-plus"
            styleClass="p-button-outlined p-button-sm">
  </p-button>
</div>
<p-divider></p-divider>
<p-toast></p-toast>
<p-card>
  <p-table [value]="transactions"
           styleClass="p-datatable-striped p-datatable-sm"
           [resizableColumns]="true">
    <ng-template pTemplate="header">
      <tr>
        <th>Account</th>
        <th style="width: 100px">Date</th>
        <th>Payee</th>
        <th>Envelope</th>
        <th>Memo</th>
        <th>Outflow</th>
        <th>Inflow</th>
        <th></th>
      </tr>
    </ng-template>

    <ng-template pTemplate="body" let-transaction>
      <tr>
        <td>{{ transaction.accountName }}</td>
        <td>{{ transaction.date | date: 'dd/MM/yyyy' }}</td>
        <td>{{ transaction.payee }}</td>
        <td>{{ transaction.envelopeName }}</td>
        <td>{{ transaction.memo }}</td>
        <td>{{ transaction.outflow | currency }}</td>
        <td>{{ transaction.inflow | currency }}</td>
        <td [style]="{ 'text-align': 'center' }">
          <p-button icon="pi pi-pencil" styleClass="p-button-text p-button-sm"></p-button>
        </td>
      </tr>
    </ng-template>
    <ng-template pTemplate="emptymessage">
      <tr>
        <td colspan="8" [style]="{ 'text-align': 'center' }">No transaction found.</td>
      </tr>
    </ng-template>
  </p-table>
</p-card>

<p-divider></p-divider>
<p-card>
  <form [formGroup]="form" (ngSubmit)="saveTransaction()">
    <input type="hidden" formControlName="accountId" />
    <!-- accountName needs to be dropdown selector   -->
    <input pInputText
           type="text"
           formControlName="accountName" />
    <p-calendar formControlName="date"
                dateFormat="dd/mm/yy"></p-calendar>
    <!-- payee needs to be dropdown selector-->
    <input pInputText
           type="text"
           formControlName="payee" />
    <input type="hidden" formControlName="payeeAccountId" />
    <input type="hidden" formControlName="payeeAccountName" />
    <input type="hidden" formControlName="envelopeId" />
    <!-- envelopeName needs to be dropdown selector-->
    <input pInputText
           type="text"
           formControlName="envelopeName" />
    <input pInputText
           type="text"
           formControlName="memo" />
    <p-inputNumber
      mode="decimal"
      [minFractionDigits]="0"
      [maxFractionDigits]="2"
      formControlName="outflow"></p-inputNumber>
    <p-inputNumber
      mode="decimal"
      [minFractionDigits]="0"
      [maxFractionDigits]="2"
      formControlName="inflow"></p-inputNumber>

    <input type="hidden" formControlName="accountId" />
    <p-button type="submit"
              [disabled]="form.invalid"
              styleClass="p-button-outlined">Save</p-button>
  </form>
</p-card>
