.budgets-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 20px;
  padding: 10px;
}

.budgets-header span {
  font-size: 26px;
  font-weight: bolder;
}
