<div class="login-container">
  <h1>Log In</h1>
  <form [formGroup]="form" (ngSubmit)="logIn()">
    <div class="field input-container">
      <label for="email">Email</label>
      <input pInputText
             type="email"
             class="p-inputtext-sm"
             id="email"
             size="30"
             formControlName="email" />
    </div>
    <div class="field input-container">
      <label for="password">Password</label>
      <input pInputText
             type="password"
             class="p-inputtext-sm"
             id="password" size="30"
             formControlName="password" />
    </div>
    <p-button type="submit"
              [disabled]="form.invalid"
              styleClass="p-button-outlined">Log in</p-button>
  </form>
  <p-card>
    <p>Not a user yet?</p>
    <p>Click here to <a [routerLink]="['/signup']">sign up</a>!</p>
  </p-card>
</div>

