<div class="signup-container">
  <h1>Sign Up</h1>
  <form [formGroup]="form" (ngSubmit)="signUp()">
    <div class="field input-container">
          <label for="firstName">First Name:</label>
          <input pInputText
                 type="text"
                 class="p-inputtext-sm"
                 id="firstName"
                 size="30"
                 formControlName="firstName">
    </div>
    <div class="field input-container">
          <label for="lastName">Last Name:</label>
          <input pInputText
                 type="text"
                 class="p-inputtext-sm"
                 id="lastName"
                 size="30"
                 formControlName="lastName">
    </div>
    <div class="field input-container">
          <label for="email">Email:</label>
          <input pInputText
                 type="email"
                 class="p-inputtext-sm"
                 id="email" size="30"
                 formControlName="email">
    </div>
    <div class="field input-container">
          <label for="password">Password:</label>
          <input pInputText
                 type="password"
                 class="p-inputtext-sm"
                 id="password"
                 size="30"
                 formControlName="password">
    </div>
    <p-button type="submit"
              [disabled]="form.invalid"
              styleClass="p-button-outlined">Sign up!</p-button>
  </form>
</div>
