<div class="sidebar-container">
  <div class="sidebar-user">
    <h2><em>SAVEUP</em></h2>
    <p>Welcome {{ userFirstName }}!</p>
    <p-button label="Support us!"
              icon="pi pi-heart-fill"
              styleClass="p-button-outlined p-button-sm"
              (click)="pay()">
    </p-button>
    <p-button label="Sign out"
              icon="pi pi-sign-out"
              styleClass="p-button-outlined p-button-sm"
              (click)="logOut()">
    </p-button>
  </div>

  <div class="sidebar-links">
    <a [routerLink]="['/user/budgets']" routerLinkActive="active">
      <i class="pi pi-book"></i> Budgets
    </a>
    <a [routerLink]="['/user/transactions']" routerLinkActive="active">
      <i class="pi pi-money-bill"></i> Transactions
    </a>
    <a [routerLink]="['/user/accounts']" routerLinkActive="active">
      <i class="pi pi-wallet"></i> Accounts
    </a>
  </div>

</div>
