<div class="sidebar-container">
  <div class="sidebar-user">
    <p>Welcome {{ userFirstName }}!</p>
    <p-button label="Sign out"
              icon="pi pi-sign-out"
              styleClass="p-button-outlined p-button-sm"
              (click)="logOut()">
    </p-button>
  </div>

  <div class="sidebar-links">
<!--    <p-button [routerLink]="['/user/budgets']"-->
<!--              routerLinkActive="active"-->
<!--              label="Budgets"-->
<!--              styleClass="p-button-text p-button-lg"></p-button>-->
<!--    <p-button [routerLink]="['/user/transactions']"-->
<!--              routerLinkActive="active"-->
<!--              label="Transactions"-->
<!--              styleClass="p-button-text p-button-lg"></p-button>-->
<!--    <p-button [routerLink]="['/user/accounts']"-->
<!--              routerLinkActive="active"-->
<!--              label="Accounts"-->
<!--              styleClass="p-button-text p-button-lg"></p-button>-->

    <a [routerLink]="['/user/budgets']" routerLinkActive="active">
      <i class="pi pi-book"></i> Budgets
    </a>
    <a [routerLink]="['/user/transactions']" routerLinkActive="active">
      <i class="pi pi-money-bill"></i> Transactions
    </a>
    <a [routerLink]="['/user/accounts']" routerLinkActive="active">
      <i class="pi pi-wallet"></i> Accounts
    </a>
  </div>

</div>
