a {
  font-size: 17px;
  text-decoration: none;
  margin: 6px;
  padding: 10px;
  display: inline-block;
  width: 150px;
  height: 50px;
  text-align: center;
}

.sidebar-container {
  display: flex;
  flex-direction: column;
}

.sidebar-user {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  background-color: rgba(31,33,40,0.97);
  margin-bottom: 10px;
  padding-bottom: 14px;
  border-bottom-right-radius: 14px;
}

.sidebar-logo {
  font-size: 24px;
  font-weight: bolder;
  font-style: italic;
  padding-top: 18px;
}

.welcome-text {
  font-weight: bold;
  padding: 16px 10px
}

.button-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 120px;
  align-items: center;
}

.sidebar-links {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.active {
  position: relative;
  font-size: 18px;
}

.active::before {
  transform: translateX(-50%);
  border-radius: 100%;
  position: absolute;
  background: white;
  bottom: 2px;
  height: 1px;
  content: '';
  width: 50px;
  left: 50%;
  box-shadow: 0 4px 16px 1px #0ff
}
