.main-topbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10px 30px;
}

.main-topbar-logo {
  font-size: 26px;
  font-weight: bolder;
  font-style: italic;
}

.main-topbar-auth {
  display: flex;
  justify-content: space-evenly;
  gap: 10px;
}

.bg-image {
  margin: 0;
  padding: 0;
  min-height:100vh;
  width:100%;
  background-image :url('src/assets/pexels-tima-miroshnichenko-6693655.jpg');
  background-repeat: no-repeat;
  background-size:cover;
  opacity: 0.5;
}

.cta-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 10px;
  background: black;
  opacity: 60%;
  width: 100vw;
}

.cta {
  font-size: 48px;
  font-weight: bolder;
  padding: 20px;
}

.cta2 {
  font-size: 30px;
  padding: 20px;

}
