.transaction-form-container {
  display: flex;
  flex-direction: column;
}

.input-row-group {
  display: flex;
  flex-direction: row;
  gap: 50px;
  justify-content: space-between;
}

.input-container {
  display: flex;
  flex-direction: column;
}
