<div>
    <form class="transaction-form-container"
          [formGroup]="form"
          (ngSubmit)="saveTransaction()">
      <input type="hidden" formControlName="accountId" />

      <div class="input-row-group">
        <div class="field input-container">
          <label for="accountName">Account</label>
          <p-dropdown formControlName="accountName"
                      [options]="accounts"
                      id="accountName"
                      optionLabel="accountName"
                      optionValue="accountName"></p-dropdown>
        </div>

        <div class="field input-container">
          <label for="date">Date</label>
          <p-calendar formControlName="date"
                      id="date"
                      dateFormat="dd-mm-yy"
                      appendTo="body"></p-calendar>
        </div>
      </div>

      <div class="input-row-group">
        <div class="field input-container">
          <label for="category">Category</label>
          <p-dropdown formControlName="category"
                      [options]="categories"
                      [editable]="true"
                      id="category"></p-dropdown>
        </div>

        <!-- transferAccount needs to be dropdown selector-->
        <div class="field input-container">
          <label for="transferAccount">Transfer</label>
          <input pInputText
                 type="text"
                 id="transferAccount"
                 formControlName="transferAccountName" />
        </div>
      </div>

      <input type="hidden" formControlName="transferId" />
      <input type="hidden" formControlName="transferAccountId" />

      <div class="input-row-group">
        <div class="field input-container">
          <label for="memo">Memo</label>
          <input pInputText
                 type="text"
                 id="memo"
                 formControlName="memo" />
        </div>
      </div>

      <div class="input-row-group">
        <div class="field input-container">
          <label for="outflow">Outflow</label>
          <p-inputNumber
            mode="decimal"
            [minFractionDigits]="0"
            [maxFractionDigits]="2"
            id="outflow"
            formControlName="outflow"></p-inputNumber>
        </div>

        <div class="field input-container">
          <label for="inflow">Inflow</label>
          <p-inputNumber
            mode="decimal"
            [minFractionDigits]="0"
            [maxFractionDigits]="2"
            id="inflow"
            formControlName="inflow"></p-inputNumber>
        </div>
      </div>

      <p-button type="submit"
                [disabled]="form.invalid"
                styleClass="p-button-outlined">Save</p-button>
    </form>
</div>
